SurfaceApplication1/SurfaceApplication1/pages/
.DS_Store
.DS_Store?
*.class
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
XMLFinalContentFile*
SurfaceApplication1/SurfaceApplication1/smallpages/
SurfaceApplication1/SurfaceApplication1/obj/
SurfaceApplication1/SurfaceApplication1/bin/
SurfaceApplication1/SurfaceApplication1/bin/Debug/SurfaceApplication1.application
