SurfaceApplication1/SurfaceApplication1/pages/
.DS_Store
.DS_Store?
*.class
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
SurfaceApplication1/SurfaceApplication1/smallpages/
SurfaceApplication1/SurfaceApplication1/obj/
SurfaceApplication1/SurfaceApplication1/bin/
Fauvel1/Fauvel1/bin/
Fauvel1/Fauvel1/obj/
SurfaceApplication1/SurfaceApplication1/XML/
SurfaceApplication1/SurfaceApplication1/thumbnails/
SurfaceApplication1/SurfaceApplication1/minithumbnails/
SurfaceApplication1/SurfaceApplication1.suo
SurfaceApplication1/SurfaceApplication1/music/
*.suo
